/* Variables */
:root {
    --primary-green: #1f2f16;
    --secondary-green: #395b50;
    --blue-dark:  #5a7684;
    --blue-med: #92afd7;
    --blue-light: #c5d1eb;
    --offWhite: #eaeaea;
    --light: #f8f8ff;
    --black: #000;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --letter-gap: .05em;
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-green);
    -webkit-font-smoothing: antialiased;
}

body { 
    background: #fff;
    line-height: 1.4;
    letter-spacing: .5;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a, ul {
    text-decoration: none;
    list-style: none;
}

.section-title {
    color: var(--secondary-green);
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.feature-text {
    color: var(--secondary-green);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 0 6.5px;
}

.btn {
    background-color: var(--secondary-green);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
    border-radius: 20px;
}

/* Button arrow */
.fa-arrow-righ {
    font-size: 1rem;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    padding: 0 30px;
}

/* ///// Section: Promo ///// */
/* .border-img {
   position: absolute;
   width: 10%;
   right: 0;
   top: 0;
} */

#promo-code .container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

#promo-code p {
    text-transform: uppercase;
}

#promo-code span {
    color: var(--secondary-green);
    font-weight: 600;
}

#promo-code a {
    text-transform: uppercase;
    color: var(--primary-green);
}

/* ///// Section: Navigation ///// */
.main-nav .container {
    padding: 0 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 20px 0;
    margin: 0 auto;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--primary-green);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--secondary-green);
    color: var(--light);
}

/* ///// Section: Showcase ///// */
.top-container {
    display: grid;
    grid-template-areas:
    'showcase showcase showcase';
}

.showcase {
    position: relative;
    grid-area: showcase;
    min-height: 600px;
    background:  linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .1)), url('img/barbecue-barbeque-bbq-1268551.jpg');
    background-size: cover;
    background-position: center;
}

.sign-up {
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: #fff;
    height: 300px;
    width: 500px;
    text-align: center;
    padding: 30px 10px 20px 10px;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #1F2F16;
    letter-spacing: var(--letter-gap);
}

.showcase ul {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.showcase ul li {
    display: flex;
    align-items: center;
    color: var(--secondary-green);
    font-weight: 600;
    font-size: 1.2rem;
    opacity: .8; 
}

.fa-circle {
    color: var(--black);
    margin: 0 10px;
    font-size: 5px;
}

.showcase input {
    padding: 10px 8px;
    width: 42%;
    font-size: 17px;
    background: transparent;
    border: 1px solid #bbb;
    outline: none;
    margin: 0 5px 20px 5px;
}

.showcase input:focus {
    outline: 1px solid var(--secondary-green);
}

.showcase button {
    background: var(--secondary-green);
    color: #fff;
    width: 95%;
    border: none;
    font-size: 16px;
    font-weight: 550;
    text-transform: uppercase;
    padding: 15px 0;
    box-shadow: var(--shadow);

}

.showcase button:hover {
    background: var(--primary-green);
}

.showcase p {
    font-size: .85rem;
}

.showcase p:nth-of-type(1) {
    margin: 15px 0;    
}

.showcase p span a {
    color: var(--blue-dark);
}

.showcase img {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 15%;
}

/* ///// Section: How It Works ///// */
#pricing-boxes {
    margin-bottom: 60px;
}

#pricing-boxes .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #333;
}

#pricing-boxes h1 {
    text-align: center;
}

.top-box {
    background: white;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.2rem;
    text-align: center;
    width: 20%;
}

/* Plan */
.top-box-a {
    grid-area: top-box-a;
}

/* Prepare */
.top-box-b {
    grid-area: top-box-b;
    margin: 0 30px;
}

/* Enjoy */
.top-box-c {
    grid-area: top-box-c;
}

.how-it-works-text {
    max-width: 200px;
}

/* //// Mission Section //// */
.wrapper .container {
    background-image: url('img/food-border3.jpeg');
    background-size: cover;
    background-position: center;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

#mission {
    background: #fff;
    width: 80%;
    padding-top: 10px;
    margin: 0 auto;
}

#mission p {
     width: 90%;
     margin: 0 auto;
     text-align: center;
     color: #333;
}

.mission-statement {
    grid-area: mission-statement;
    flex-direction: column;
}

#mission h1 {
    margin-bottom: 20px;
}

#mission a {
    display: flex;
    margin: 0 auto;
    width: 170px;
}

/* //// Boxes Section //// */
.boxes {
    justify-content: center;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 200px);
    margin: 0 auto;
    background: #fff;
    width: 80%;
}

.box {
    text-align: center;
    padding: .5rem .3rem;
}

.box h3 {
    margin: 0;
}

.box p {
    margin-bottom: 0;
}

/* //// Info //// */
.info {
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    padding: 1rem;
    margin-top: 60px;
}

.info img {
    box-shadow: var(--shadow);
}

.info h2 {
    margin: 0;
}

.info div:nth-of-type(2) h2:nth-of-type(1) {
    padding-left: 25px;
}

.info-list {
    padding: 0 1rem;
}

.info p {
    margin-top: 8px;
    margin-bottom: 30px;
}

.info ul {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 8px;
    padding-left: 22px;
    list-style: none;
}

.fa-check-square {
    color: Green;
}

.info div:nth-of-type(2) a {
    margin-left: 25px;
}

/* //// Section: Meals //// */
.meals {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr 1fr);
}

.img-container {
    overflow: hidden;
    width: 100%;
}

.meals img {
    width: 100%;
    box-shadow: var(--shadow);
    transition: all .3s ease-out;
}

.meals img:hover {
    transform: scale(1.2);
    transition: all .3s ease-in;
    overflow: hidden;
}

/* //// Reviews Section //// */
.reviews {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.review-card {
    width: 400px;
    height: 600px;
    background: grey;
}

.review-card img {
    display: block;
    margin: 0 auto;
    padding-top: 0px;
}

.card-header {
    height: 30%;
    width: 100%;
    background-image: url('img/card-topper.jpeg');
    background-size: cover;
}

.topper-img {
    width: 100%;
    z-index: 0;
}

.user-img {
    position: absolute;
    top: 30%;
    right: 40%;
    margin: 0 auto;
}

/* //// Footer //// */
footer {
    margin-top: 2rem;
    background: var(--secondary-green);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media(max-width: 1028px) {
    /* //// Boxes Section //// */
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        padding: 1rem 1rem;
    }

    .info-img {
        grid-area: info-img;
    }

    .info-text {
        grid-area: info-text;
    }

    .info-list {
        grid-area: info-list;
    }

    .info {
        grid-gap: 20px;
        grid-template-columns: none;
        grid-template-areas:
        'info-img info-img info-img'
        'info-list info-text info-text';
        padding: 1.5rem;
    }

    .meals {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Large screen Guarantee IMG */
    .info div:nth-of-type(2) img {
    display: none;
    }

    #seal {
        display: block;
        text-align: center;
    }

    .info img:nth-of-type(2) {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}

@media(max-width: 998px) {

}

@media(max-width: 786px) {
    .top-container {
        grid-template-areas:
        'showcase showcase showcase'
        'top-box-a top-box-b top-box-c'
    }

    .showcase h1 {
        font-size: 1.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }

}

@media(max-width: 576px) {
    .top-container {
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b'
        'top-box-c'
    }
}