/* Variables */
:root {
    --primary-green: #1f2f16;
    --secondary-green: #395b50;
    --blue-dark:  #5a7684;
    --blue-med: #92afd7;
    --blue-light: #c5d1eb;
    --offWhite: #eaeaea;
    --light: #f8f8ff;
    --black: #000;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --letter-gap: .05em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-green);
    -webkit-font-smoothing: antialiased;
}

body { 
    background: #f8f8f8;
    line-height: 1.4;
    letter-spacing: .5;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a, ul {
    text-decoration: none;
    list-style: none;
}

.section-title {
    color: var(--secondary-green);
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 10px;
    border-bottom: 8px solid var(--secondary-green);

}

.subtitle {
    color: var(--blue-med);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.secondary-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--secondary-green);
    font-weight: 450;
    font-size: 14px;
}

.feature-text {
    color: var(--secondary-green);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 0 6.5px;
}

.btn {
    display: block;
    background-color: var(--secondary-green);
    color: var(--light);
    padding: 1.3rem 1.3rem;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
    border-radius: 40px;;
    box-shadow: var(--shadow);
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    letter-spacing: var(--letter-gap);
}

/* Button arrow */
.fa-arrow-righ {
    font-size: 1rem;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    padding: 0 30px;
    width: 100%;
}

/* ///// Section: Promo ///// */
/* .border-img {
   position: absolute;
   width: 10%;
   right: 0;
   top: 0;
} */

#promo-code .container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

#promo-code p {
    text-transform: uppercase;
}

#promo-code span {
    color: var(--secondary-green);
    font-weight: 600;
}

#promo-code a {
    text-transform: uppercase;
    color: var(--primary-green);
}

/* ///// Section: Navigation ///// */
.main-nav .container {
    padding: 0 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 20px 0;
    margin: 0 auto;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--primary-green);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--secondary-green);
    color: var(--light);
}

/* ///// Section: Showcase ///// */
.top-container {
    display: grid;
    grid-template-areas:
    'showcase showcase showcase';
}

.showcase {
    position: relative;
    grid-area: showcase;
    min-height: 600px;
    background:  linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .1)), url('img/barbecue.jpg');
    background-size: cover;
    background-position-y: center;
}

.sign-up {
    position: absolute;
    top: 20%;
    right: 15%;
    background-color: #fff;
    height: 350px;
    width: 500px;
    text-align: center;
    padding: 30px 10px 20px 10px;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #1F2F16;
    letter-spacing: var(--letter-gap);
}

.showcase ul {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.showcase ul li {
    display: flex;
    align-items: center;
    color: var(--secondary-green);
    font-weight: 600;
    font-size: 1.2rem;
    opacity: .8; 
}

.fa-circle {
    color: var(--black);
    margin: 0 10px;
    font-size: 5px;
}

.showcase input {
    padding: 10px 8px;
    width: 42%;
    font-size: 17px;
    background: transparent;
    border: 1px solid #bbb;
    outline: none;
    margin: 0 5px 20px 5px;
}

.showcase input:focus {
    outline: 1px solid var(--secondary-green);
}

.showcase button {
    background: var(--secondary-green);
    color: #fff;
    width: 95%;
    border: none;
    font-size: 16px;
    font-weight: 550;
    text-transform: uppercase;
    padding: 15px 0;
    box-shadow: var(--shadow);
}

.showcase button:hover {
    background: var(--primary-green);
}

.showcase p {
    font-size: .85rem;
}

.showcase p:nth-of-type(1) {
    margin: 15px 0;    
}

.showcase p span a {
    color: var(--blue-dark);
}

.showcase img {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 10%;
}

/* ///// Section: How It Works ///// */
#pricing-boxes {
    margin: 60px 0 120px 0;
}

#pricing-boxes .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #333;
}

#pricing-boxes h1 {
    text-align: center;
}

.top-box {
    background: white;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.2rem;
    text-align: center;
    width: 20%;
}

/* Plan */
.top-box-a {
    grid-area: top-box-a;
}

/* Prepare */
.top-box-b {
    grid-area: top-box-b;
    margin: 0 30px;
}

/* Enjoy */
.top-box-c {
    grid-area: top-box-c;
}

.how-it-works-text {
    max-width: 200px;
}

/* //// Mission Section //// */
.wrapper .container {
    background-image: url('img/food-border3.jpeg');
    background-size: cover;
    background-position: center;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}
/* Top inner white box */
#mission {
    background: #fff;
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
}

#mission p {
     width: 80%;
     font-size: 18px;
     margin: 0 auto;
     color: #333;
}

#mission p:nth-last-of-type(1) {
    margin: 20px auto;
}

.mission-statement {
    grid-area: mission-statement;
    flex-direction: column;
    /* justify-content: center; */
}

#mission h1 {
    margin-bottom: 20px;
}

/* //// Boxes Section //// */
/* Bottom inner white box */
.boxes {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
    padding: 20px 10px;
}

.box {
    text-align: center;
    padding: .5rem .3rem;
}

.box h3 {
    margin: 0;
}

.box p {
    margin-bottom: 0;
}

/* //// Info //// */
.info {
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1.7fr 1.5fr .5fr;
    padding: 3rem .5rem;
    margin-top: 120px;
}

.info-asset {
    width: 80%;
}

.info h2 {
    margin: 0;
}

.info-list {
    padding: 0 1rem;
}

.info p {
    margin-top: 8px;
    margin-bottom: 20px;
}

.info-text a {
    margin: 0 0;
}

.info ul {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 8px;
    list-style: none;
}

.fa-check-square {
    color: Green;
}

/* //// Section: Meals //// */
.meals .container-a {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 375px));
    grid-gap: 10px;
}

.meals .container-b {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.img-container {
    overflow: hidden;
    width: 100%;
    height: 90%;
    margin: 5px;
    border-radius: 3px;
}

.meals img {
    box-shadow: var(--shadow);
    transition: all .5s ease-in-out;
}

.meals img:hover {
    transform: scale(1.2);
    transition: all .3s ease-in;
    overflow: hidden;
}

/* //// Reviews Section //// */
#reviews {
    padding: 40px 0;
    margin: 70px 0;
    position: relative;
    background: url('img/farm3.png');
    background-size: cover;
    background-position-Y: 60%;
}

#review-text {
    text-align: center;
    width: 70%;
    margin: 0 auto 20px auto;
    color: var(--secondary-green);
    text-shadow: var(--text-shadow);
}


#reviews .container {
    width: 75%;
    margin: 0 auto;
}

.testimonial {
    background-color: var(--secondary-green);
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
}

.testimonial:before,
.testimonial:after {
    content: "";
    border-top: 40px solid var(--secondary-green);
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial:after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .icon{
    display: inline-block;
    font-size: 40px;
    color: var(--offWhite);
    margin-bottom: 20px;
    opacity: .8;
}

.testimonial .quote {
    font-size: 16px;
    color: var(--offWhite);
    text-align: center;
    margin-bottom: 10px;
    opacity: .9;
    letter-spacing: .09rem;
}

.testimonial .testimonial-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.testimonial .profile-pic {
    display: inline-block;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--primary-green);
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonial .profile-pic img{
    width: 100%;
    height: auto;
}

.testimonial .title { 
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-green);
    text-shadow: var(--shadow);
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.profile-pic img {
    width: 100px !important;
    height: 50px;
}

#slider-buttons {
    text-align: center;
    padding: 10px 0;
    color: var(--secondary-green);
}

.prevBtn, .nextBtn {
    filter: drop-shadow(1px 1px 1px rgba(255,255,255,.5));
}

.prevBtn {
    margin-right: 100px;
}

.prevBtn:Hover, .nextBtn:hover {
    cursor: pointer;
    filter: drop-shadow(1px 0 1px rgba(255,255,255,.3));
}

/* //// Social Connect //// */
#social-connect {
    background: #FAFBFC;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.connect {
    height: 70%;
    width: 30%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.connect p {
    margin-bottom: 20px;
}

.connect ul {
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    width: 45px;
    margin: 0;
}

.mailing-list {
    height: 70%;
    width: 35%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.mailing-list input {
    padding: 8px 10px;
    margin: 10px 0;
    color: #777;
} 


.mailing-list input:focus {
    outline: 1px solid var(--secondary-green);
}

.mailing-list a {
    padding: 9px 15px 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--secondary-green);
    color: #fff;
}

.food-blog {
    width: 25%;
    text-align: center;
}


/* //// Footer //// */
footer {
    background: var(--secondary-green);
    color: var(--light);
}

footer .container {
    display: grid;
    grid-template-columns: .5fr .5fr .4fr .6fr .6fr .6fr ;
    padding: 1.5rem 3rem;
}

footer ul li {
    margin: 8px 0;
}

footer ul li:hover {
    text-decoration: underline;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 130px;
}

footer p {
    text-align: center;    
    font-size: 20px;
    margin: 0;
}

#footer-border {
    background-image: url('img/farm-border.png');
    background-size: cover;
    width: 100%;
}

@media(max-width: 1028px) {
    /* //// Boxes Section //// */
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        padding: 1rem 1rem;
    }

    .info-img {
        grid-area: info-img;
    }

    .info-text {
        grid-area: info-text;
    }

    .info-list {
        grid-area: info-list;
    }

    .info {
        grid-gap: 20px;
        grid-template-columns: none;
        grid-template-areas:
        'info-img info-img info-img'
        'info-list info-text info-text';
        padding: 1.5rem;
    }

    .meals {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Large screen Guarantee IMG */
    .info div:nth-of-type(2) img {
    display: none;
    }

    #seal {
        display: block;
        text-align: center;
    }

    .info img:nth-of-type(2) {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}

@media(max-width: 998px) {

}

@media(max-width: 786px) {
    .top-container {
        grid-template-areas:
        'showcase showcase showcase'
        'top-box-a top-box-b top-box-c'
    }

    .showcase h1 {
        font-size: 1.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }

}

@media(max-width: 576px) {
    .top-container {
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b'
        'top-box-c'
    }
}